{{ define "map" }}
{{ template "inc_head" . }}
<div id="map" data-map-renderer="{{ .MapRenderer }}" data-initial-latitude="{{ .InitialLatitude }}" data-initial-longitude="{{ .InitialLongitude }}" data-initial-zoom="{{ .InitialZoom }}"></div>
<link type="text/css" rel="stylesheet" href="/css/leaflet.draw.css" />
<script type="text/javascript" src="/javascript/leaflet.draw.js"></script>
<script type="text/javascript" src="/javascript/aaronland.maps.js"></script>
<script type="text/javascript" src="/javascript/aaronland.map.js"></script>
<script type="text/javascript" src="/javascript/aaronland.map.init.js"></script>
{{ template "inc_foot" . }}
{{ end }}
