{{ define "map" }}
{{ template "inc_head" . }}
<div id="container">
<div id="map" data-map-provider="{{ .MapProvider }}" data-initial-latitude="{{ .InitialLatitude }}" data-initial-longitude="{{ .InitialLongitude }}" data-initial-zoom="{{ .InitialZoom }}" data-enable-draw="true"></div>
<div id="geojson-wrapper">
    <pre id="geojson"></pre>
</div>
</div>
<link type="text/css" rel="stylesheet" href="/css/leaflet.draw.css" />
<script type="text/javascript" src="/javascript/leaflet.draw.js"></script>
<script type="text/javascript" src="/javascript/aaronland.maps.js"></script>
<script type="text/javascript" src="/javascript/aaronland.map.js"></script>
<script type="text/javascript" src="/javascript/aaronland.map.init.js"></script>
{{ template "inc_foot" . }}
{{ end }}
